{% extends "manager_nav.html" %}
    {% block c %}
        <h1>Undergoing wager</h1>
        <div class="change">
    {% for i in like_wager_info %}
        <div class="change1">
            <ul class="list_group">
                <li class="list-group-item list-group-item-warning cen">
                    {{ i.game_time }}<br/>
                    {{ i.guest_team }} vs {{ i.home_team }}<br/>
                    {{ i.guest_odds }}  :  {{ i.home_odds }}
                </li>
                <div class="cen1">
                <button type="submit"  class="btn btn-dark">
                    <a class="link_color" href="{{ url_for('win_guest',game_id=i.game_id,guest_team=i.guest_team, guest_odds=i.guest_odds) }}">Win</a>
                </button>
                <button type="submit"  class="btn btn-success cen2">
                    <a class="link_color" href="{{ url_for('win_home',game_id=i.game_id,home_team=i.home_team,home_odds=i.home_odds) }}">Win</a>
                </button>
                </div>
            </ul>
        </div>
        {% endfor %}
        </div>


        <h1>Finished wager</h1>
        <div class="change">
        {% for i in like_wager_over_info %}
        <div class="change1">
            <ul class="list_group">
                <li class="list-group-item list-group-item-warning cen">
                    {{ i.game_time }}<br/>
                    {{ i.guest_team }} vs {{ i.home_team }}<br/>
                    {{ i.guest_odds }}  :  {{ i.home_odds }}<br/>
                    win team: {{ i.win_team }}
                </li>
            </ul>
        </div>
        {% endfor %}
        </div>
        <div class="form-group">
            <a href="{{ url_for('show_wager') }}"class="btn btn-info pull-left" id="back_btn">Back</a>
        </div>
    {% endblock %}